@import "tailwindcss";
@plugin "daisyui";
main {
  --text-gradient: linear-gradient(
    135deg,
    rgb(216, 178, 252),
    #000,
    rgb(187, 213, 252)
  );
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

html {
  scroll-behavior: smooth;
}
html,
body,
main {
  width: 100vw;
}

body {
  font-family: var(--font-inter), "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.fall-animate {
  animation: fall 1s ease-in-out both;
  transform: translateY(-100%);
  opacity: 0;
}
@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fall-animate-1 {
  animation: fall 0.5s linear 0s both;
}
.fall-animate-2 {
  animation: fall 0.5s linear 0.45s both;
}
.fall-animate-3 {
  animation: fall 0.5s linear 0.95s both;
}
.fall-animate-4 {
  animation: fall 0.5s linear 1.45s both;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-bg {
  background: radial-gradient(rgb(216, 178, 252), #fff, rgb(187, 213, 252));
  background-size: 200% 200%;
  animation: gradientAnimation1 20s ease infinite;
}
.animated-bg-1 {
  background: linear-gradient(
    135deg,
    rgb(216, 178, 252),
    #fff,
    rgb(187, 213, 252)
  );
  background-size: 200% 200%;
  animation: gradientAnimation 10s linear infinite;
}
@keyframes gradientAnimation1 {
  0% {
    background-position: 200% 200%;
  }
  50% {
    background-position: 400% 400%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.customers_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 48px;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #222;
  background-color: #111;
  padding: 2rem;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
}
